@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
  
  --color-Green:hsl(75, 94%, 57%);
  --color-White: hsl(0, 0%, 100%);
  --color-Greey:hsl(0, 0%, 20%);
  --color-Dark_Grey:hsl(0, 0%, 12%);
  --color-Off_Black: hsl(0, 0%, 8%);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100vw;
  height: 100vh;
  font-family: "Inter", sans-serif;
  font-size: 16px;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: var(--color-Off_Black);
  
}
.container{
  width: 388px;
  height: auto;
  border-radius: 20px;
  background-color: var(--color-Dark_Grey);

}
.content-header{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
.img-avatar{
  width: 90px;
  height: 90px;
  border-radius: 50%;

  margin-top: 35px;
  margin-bottom: 32px;
}
.content-description{
  width: 100%;
  text-align: center;
}
.content-description h1{
  color: var(--color-White);
  font-size: 22px;
}
.content-description h3{
  font-size: 14px;
  color: var(--color-Green);
  margin-top: 14px;
  margin-bottom: 30px;
}
.content-description p{
  color: var(--color-White);
  
}
.content-center{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 16px;
  margin: 27px 40px 40px 40px;
  
}
.lista{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 15px;
  
}
.lista li{
  list-style: none;
}
.lista li a{
  display: inline-block;
  text-decoration: none;
  color: var(--color-White);
  width: 100%;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 10px;
  background-color: var(--color-Greey);
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.5s ease;
}
.lista li a:hover{
  color: var(--color-Off_Black);
  background-color: var(--color-Green);
}

@media(max-width: 720px) {
  .container{
    width: 327px;
  }
  .content-center{
    margin: 27px 24px 24px 24px;
  }
  .content-description p{
    font-size: 14px;
  }
}